.h1{
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  font-family: "Times New Roman", Times, serif;
}

.wrapper>*{
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
}

.title1{
  text-align: center;
  border: 3px solid black;
  background-color: rgb(188, 117, 117);
  margin-left: 40%;
  margin-right: -13px;
  margin-top: -12px;
  margin-left: 180px;

}

.title2{
  text-align: center;
  color: white;
  border: 3px solid black;
  background-color: brown;
  margin-left: 40%;
  margin-right: -13px;
  margin-top: -12px;
  margin-left: 180px;

}
.title3 {
  text-align: center;
  border: 3px solid black;
  background-color: bisque;
  margin-right: -13px;
  margin-top: -12px;
  margin-left: 180px;

}

.aside1 {
  
  background-color:gray;
  border: 3px solid black;
  width: 100%;
   
}

.aside2 {
  background-color: gray;
  border: 3px solid black;
  width: 100%;
}

.aside3 {
  background-color: gray;
  border: 3px solid black;
  width: 100%;
 
}


@media (max-width: 992px) {
  .aside1 {
    flex-direction: row;
    
  }
  .aside2 {
    flex-direction: row;
   
  }
  .aside3 {
    flex-direction: row;
  }
}

@media (max-width: 991px) {
  .aside1 {
    flex-direction: row;
  }
  .aside2 {
    flex-direction: row;
  }
  .aside3 {
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .aside1 {
    flex-direction: column;
  }
  .aside2 {
    flex-direction: column;
  }
  .aside3 {
    flex-direction: column;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  border: 4px solid black;
  
}

